html,body{
    background-color: #202124;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
.second{
    display: flex;
    margin-top: 20px;
    justify-content: right;
    gap: 20px;
    margin-right: 15px;
}

.nav-button{
    font-size: 14px;
    color: white;
    font-family: Roboto, arial, sans-serif;;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: white;
    font-family: Roboto, arial, sans-serif;
    font-size: 90px;
}

#h{
    display: flex;
    color: rgb(80, 182, 223);
    font-family: Roboto, arial, sans-serif;
    font-size: 15px;
    justify-content: right;
    align-items: normal;
    margin-top: 45%;
    margin-right: 50%;
    
}
.fir{
    display: flex;
}
.search-box{
    width: 100%;
    max-width: 120%;
    flex-direction: column;
    background: rgba(200,200,200,0.2);
    display: flex;
    border-radius: 55px;
    padding: 15px 15px;
    justify-content: center;
}
.search-box:hover{
    background-color: rgba(250,250,250,0.3) ;
}

.search-box input{
    width: 100%;
    max-width: 38%;
    font-size: 18px;
    background: transparent;
    outline: none;
    color: aliceblue;
    border: 0;
    flex: 1;
    position: absolute;
    margin-left: 50px;
}


button{
    
    color: aliceblue;
    background-color: rgba(200,200,200,0.2);
    border: 0;
    border-radius: 5px;
    padding: 10px;
    border-color: aliceblue;
    cursor: pointer;
    margin-left: 20px;
    
} 
 
.button{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

button:hover{
  border: 1px solid #dadce0; /* soft gray border on hover */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); /* subtle shadow */

}

img{ 
    width: 20px;
    margin-right: 520px;
} 


.container_sec{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    font-family: arial, sans-serif;
}

.form-row {
      display: flex;
      margin-bottom: 12px;
    }

label{
    width: 200%;
    max-width: 15%;
    color: whitesmoke;
    font-size: 12px;
    font-family: Roboto, arial, sans-serif;
    margin-top: 10px;
}

input{
    width: 42%;
    height: 25px;
    background: transparent;
    border: 1px solid rgba(250, 250, 250, 0.3);
    color: #dadce0;
    
}

#third{
    color: aliceblue;
    margin-bottom: 20px;
}

#second{
    color: rgb(236, 86, 86);
    font-size: 20px;
    margin-bottom: 60px;

}

#first{
    font-size: 25px;
    color: antiquewhite;
    font-family: Roboto, arial, sans-serif;
    margin-bottom: 45px;
    margin-top: 10px;
    margin-left: 5px;
}

.buttons input{
    display: flex;
    width: 100%;
    max-width: 10%;
    background-color: rgb(34, 183, 241);
    justify-content: right;
    cursor: pointer;
    margin-left: 47.5%;
}

input:focus {
    outline: none; /* Removes default blue outline */
    border-color: #0056b3; /* Darker border on focus */
  }
hr{
    border: 1px solid black;
    margin-top: 40px;
    margin-top: 40px; margin-bottom: 10px;
}

.buttons input:hover{
  border: 1px solid #dadce0; /* soft gray border on hover */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); /* subtle shadow */
}
